*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------start navbar------------------------------------------------------------------------------------------->*/


/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------end navbar---------------------------------------------------------------------------------------------> */






/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------start header-------------------------------------------------------------------------------------------> */


/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------End header--------------------------------------------------------------------------------------------> */





/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------start features-----------------------------------------------------------------------------------------> */

/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------end features--------------------------------------------------------------------------------------------> */






/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------start story--------------------------------------------------------------------------------------------> */


/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------end story----------------------------------------------------------------------------------------------> */





/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------start cards section------------------------------------------------------------------------------------> */
 

/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------end cards section--------------------------------------------------------------------------------------> */





/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------start gallery------------------------------------------------------------------------------------------> */


/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------end gallery--------------------------------------------------------------------------------------------> */





/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------start footeer------------------------------------------------------------------------------------------> */


/* <!--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------end footer---------------------------------------------------------------------------------------------> */